<app-header></app-header>
<div class="container">
    <form class="formulario" [formGroup]="form" (submit)="crear()">
        <div class="row">
            <h2>Editar usuario</h2>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">Nombre</label><br>
                    <input type="text" name="usuario" id="usuario" placeholder="Ingresa tu nombre" formControlName="name">
                    <div class="col-md-12" *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
                        <span class="err" *ngIf="form.get('name')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email" formControlName="email">
                    <div class="col-md-12" *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                        <span class="err" *ngIf="form.get('email')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="password">Contraseña</label><br>
                    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" formControlName="password">
                    <div class="col-md-12" *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                        <span class="err" *ngIf="form.get('password')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="confirmar">Confirmar contraseña</label><br>
                    <input type="password" name="confirmar" id="confirmar" placeholder="Confirma tu contraseña" formControlName="confirmar">
                    <div class="col-md-12" *ngIf="form.get('confirmar')?.invalid && (form.get('confirmar')?.dirty || form.get('confirmar')?.touched)">
                        <span class="err" *ngIf="form.get('confirmar')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <span [class]="form.get('password')?.errors?'err':'ok'"><img src="assets/ok.png" alt="" *ngIf="!form.get('password')?.errors"> Debe tener al menos 8 caracteres de largo, usar mayúsculas, minúsculas y números.</span><br>
                <span class="err" *ngIf="form.get('password')?.value!=form.get('confirmar')?.value">Las Contraseñas deben ser iguales</span>
            </div>
            <div class="col-md-12">
                <div class="user">
                    <label for="empresa">Nombre de la empresa</label><br>
                    <input type="text" name="empresa" id="empresa" placeholder="Ingresa el nombre de la empresa" formControlName="brand_name">
                    <div class="col-md-12" *ngIf="form.get('brand_name')?.invalid && (form.get('brand_name')?.dirty || form.get('brand_name')?.touched)">
                        <span class="err" *ngIf="form.get('brand_name')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="user">
                    <label for="descripcion">Descripciòn de la empresa</label><br>
                    <textarea rows="6" placeholder="Ingresa la descripciòn de la empresa" formControlName="brand_description" id="descripcion" name="descripcion"></textarea>
                    <div class="col-md-12" *ngIf="form.get('brand_description')?.invalid && (form.get('brand_description')?.dirty || form.get('brand_description')?.touched)">
                        <span class="err" *ngIf="form.get('brand_description')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-6">
                        <div class="user">
                            <label for="logo">Logo</label><br>
                            <span style="line-height: 40px;" onclick="document.getElementById('logo').click()">Cargar Imagen <img src="assets/bi_upload.png" alt=""></span>
                            <input type="file" name="logo" id="logo" placeholder="Ingresa tu contraseña" formControlName="brand_logo" hidden (change)="imagen($event)">
                            <div class="col-md-12" *ngIf="form.get('brand_logo')?.invalid && (form.get('brand_logo')?.dirty || form.get('brand_logo')?.touched)">
                                <span class="err" *ngIf="form.get('brand_logo')?.getError('required')">Campo Obligatorio</span>
                            </div>
                            <img [src]="image" style="width: 100%;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="user">
                            <label for="video">Video</label><br>
                            <input type="text" name="video" id="video" placeholder="Url Video" formControlName="brand_video">
                            <div class="col-md-12" *ngIf="form.get('brand_video')?.invalid && (form.get('brand_video')?.dirty || form.get('brand_video')?.touched)">
                                <span class="err" *ngIf="form.get('brand_video')?.getError('required')">Campo Obligatorio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="brand_color">Color</label><br>
                    <input type="radio" id="vehicle1" name="brand_color" value="#62D49F" style="background-color: #62D49F;" formControlName="brand_color">
                    <input type="radio" id="vehicle1" name="brand_color" value="#385065" style="background-color: #385065;" formControlName="brand_color">
                    <input type="radio" id="vehicle1" name="brand_color" value="#CF4B39" style="background-color: #CF4B39;" formControlName="brand_color">
                    <input type="radio" id="vehicle1" name="brand_color" value="#F2A53B" style="background-color: #F2A53B;" formControlName="brand_color">
                    <input type="radio" id="vehicle1" name="brand_color" value="#C4C4C4" style="background-color: #C4C4C4;" formControlName="brand_color">
                    <input type="radio" id="vehicle1" name="brand_color" value="#444444" style="background-color: #444444;" formControlName="brand_color">
                </div>
                <div class="col-md-12" *ngIf="form.get('brand_color')?.invalid && (form.get('brand_color')?.dirty || form.get('brand_color')?.touched)">
                    <span class="err" *ngIf="form.get('brand_color')?.getError('required')">Campo Obligatorio</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="pais">País</label><br>
                    <select name="pais" id="pais" aria-placeholder="País" formControlName="country">
                        <option selected disabled>Selecciona el país</option>
                        <option value="Colombia">Colombia</option>
                    </select>
                    <div class="col-md-12" *ngIf="form.get('country')?.invalid && (form.get('country')?.dirty || form.get('country')?.touched)">
                        <span class="err" *ngIf="form.get('country')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="pais">Rol</label><br>
                    <select name="pais" id="pais" aria-placeholder="País" formControlName="rol">
                        <option selected disabled>Selecciona el Rol</option>
                        <option *ngFor="let rol of roles" [value]="rol.Id" >{{rol.Nombre}}</option>
                    </select>
                    <div class="col-md-12" *ngIf="form.get('rol')?.invalid && (form.get('rol')?.dirty || form.get('rol')?.touched)">
                        <span class="err" *ngIf="form.get('rol')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center py-5">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>