button {
    -webkit-appearance: none;
    appearance: none;
    background: #385065;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding: 16px 40px;
    border: none;
}

button:hover {
    background-color: #fff;
    color: #385065;
    border: 1px solid #385065;
}

td img {
    z-index: 2;
    cursor: pointer;
}