<app-header></app-header>
<div class="container">
    <form class="formulario" [formGroup]="form" (submit)="crear()">
        <div class="row">
            <h2>Editar usuario</h2>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">Nombre</label><br>
                    <input type="text" name="usuario" placeholder="Ingresa tu nombre" formControlName="name">
                    <div class="col-md-12" *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
                        <span class="err" *ngIf="form.get('name')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">Email</label><br>
                    <input type="email" name="usuario" placeholder="Ingresa tu email" formControlName="email">
                    <div class="col-md-12" *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                        <span class="err" *ngIf="form.get('email')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">Contraseña</label><br>
                    <input type="password" name="usuario" placeholder="Ingresa tu contraseña" formControlName="password">
                    <div class="col-md-12" *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                        <span class="err" *ngIf="form.get('password')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">Confirmar contraseña</label><br>
                    <input type="password" name="usuario" placeholder="Confirma tu contraseña" formControlName="confirmar">
                    <div class="col-md-12" *ngIf="form.get('confirmar')?.invalid && (form.get('confirmar')?.dirty || form.get('confirmar')?.touched)">
                        <span class="err" *ngIf="form.get('confirmar')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <span [class]="form.get('password')?.errors?'err':'ok'"><img src="assets/ok.png" alt="" *ngIf="!form.get('password')?.errors"> Debe tener al menos 8 caracteres de largo, usar mayúsculas, minúsculas y números.</span><br>
                <span class="err" *ngIf="form.get('password')?.value!=form.get('confirmar')?.value">Las Contraseñas deben ser iguales</span>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <label for="usuario">País</label><br>
                    <select name="pais" id="pais" aria-placeholder="País" formControlName="country">
                        <option selected disabled>Selecciona el país</option>
                        <option value="Colombia">Colombia</option>
                    </select>
                    <div class="col-md-12" *ngIf="form.get('country')?.invalid && (form.get('country')?.dirty || form.get('country')?.touched)">
                        <span class="err" *ngIf="form.get('country')?.getError('required')">Campo Obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center py-5">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>